@keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.home_page {
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 17rem;
    /* padding-top: 88px; */
    /* height: 90vh; */
    max-height: 100vh;
    overflow-y: auto;
    animation: slideIn 0.5s ease-in-out;
}

.home_page  * {
    margin-top: 0;
    margin-bottom: 0;
}

.home_page > h3 {
    font-weight: 500;
}

.home_page > h1 {
    font-size: 96px;
}

.home_page > h2 {
    font-size: 42px;
    font-weight: 600;
}

.home_page > p {
    font-size: 18px;
    font-weight: 400;
}

.home_page > p > a {
    text-decoration: none;
    font-weight: 500;
    color: black;
}

.logo_links {
    margin-top: 10px;
}

.logo_links > a {
    color: black;
    font-size: 14px;
    margin-right: 10px;
    text-decoration: none;
}

.home_page_cursor {
    margin-top: 12rem;
    align-self: center;
    font-size: 25px;
}
